/* ----- TELAS GRANDES ----- */
@media (min-width: 1800px){
    :root{ --padding-padrao: 2% 25%; }
    header{ padding: 7px 25%; }

    /* Botões aside */
    .aside-btns{ gap: 2em; }
    .B-aside{
        width: 85px;
        height: 85px;
        font-size: 3em;
    }
}

/* ----- TABLET ----- */
@media (max-width: 991px){
    /* Header */
    .logo a{ font-size: 1.3em; }

    .nav-bar{ 
        display: flex; 
        justify-content: center;
        align-items: center;
        gap: 2em;
        position: absolute;
        top: 100%;
        right: -100%;
        flex-direction: column;
        background-color: var(--cor-fundo);
        border-radius: 0 0 10px 10px;
        height: 100dvh;
        width: 70vw;
        transition: all .3s ease-in-out;
        z-index: 1000;
    }

    .navbar-link{
        font-size: 1.2em;
        color: var(--secondary-color);
    }

    .btn-menu{ display: block; }

    .abrir-menu{
        width: 35px;
        height: 20px;
        position: relative;
        margin: auto;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    .abrir-menu span{
        display: block;
        position: absolute;
        width: 100%;
        height: 5px;
        top: 40px;
        left: 0;
        transform: rotate(0deg);
        background-color: var(--cor-destaque);
        border-radius: 15px;
        transition: all .3s ease-in-out;
    }

    .abrir-menu span:nth-child(1){ top: 0px; }

    .abrir-menu span:nth-child(2),
    .abrir-menu span:nth-child(3){ top: 11px; }

    .abrir-menu span:nth-child(4){ top: 22px; }

    .abrir-menu.open span:nth-child(1){
        top: 15px;
        left: 50%;
        width: 0%;
        transform: translate(0%, -50%) scaleX(0);
    }

    .abrir-menu.open span:nth-child(2){ transform: rotate(45deg) ;}
    .abrir-menu.open span:nth-child(3){ transform: rotate(-45deg) ;}

    .abrir-menu.open span:nth-child(4){
        top: 10px;
        width: 0%;
        left: 50%;
        transform: translate(0%, 50%) scaleX(0);
    }

    .active{ right: 0; }

    .btn-destaque{ display: none; }

    .nav-bar .btn-destaque-mobile{ 
        display: block; 
        padding: 13px 30px;
    }

    /* Problema */
    .problema-img img{ width: 20em; }

    .problema article h2,
    .problema article p{ text-align: center; }

    .problema article h2,
    .skils h2,
    .funcionamento h2,
    .portfolio article h2,
    .contato h2 { font-size: 1.35em; }

    .problema article p,
    .skils p,
    .funcionamento p:not(.timeline-item p),
    .portfolio article p:not(.P-desc),
    .contato p { font-size: 1.1em; }

    .problema article .p-destaque{ font-size: 1em; }
    
    /* Serviços */
    .sk-card{ height: 340px; }

    /* Método */
    .timeline{ gap: 2.5em; }
    .timeline-item{ padding: 10px 0;}
    .timeline-item:not(:first-child)::before{ content: ''; }
    .timeline-item p{ font-size: 1em;}

    /* Portfólio */
    .P-tags{ display: none; }
    .P-card{ height: 380px; }
    .P-content{ height: 13em; }

    /* Depoimentos */
    .depoimentos{ margin-top: 1rem; }
    .depoimentos h2 { display: block; }
    .depoimento-box blockquote{ padding-top: 10px; }

    .estrela{
        width: 2rem;
        height: auto;
    }

    /* Contato */
    .contato-whatsapp a{ 
        width: 90%; 
        line-height: 30px;
        padding: 11.5px;
    }

    /* Fechamento */
    .google-logo svg{ 
        margin: 30px 0 25px;
        width: 1.1em; 
    }
    .fechamento h2{ font-size: 1.45em; }

    .fechamento p{ 
        padding: 30px 0;
        font-size: 1.1em; 
    }

    .fechamento a{ 
        width: 50%;
        padding: 15px;
    }

    /* Botões aside */
    .aside-btns{ gap: 1.5em; }

    .B-aside{
        width: 65px;
        height: 65px;
        font-size: 2.3rem;
    }

}

/* Tela deitada */
@media (max-device-width: 991px) and (orientation: landscape) {
    /* Header */
    .navbar-link,
    .btn-destaque{ font-size: .9em;}

    .btn-destaque{ padding: 10px 15px; }
    
    /* Home */
    .action{
        align-items: flex-end;
        padding-bottom: 20px;
    }
    .action-post h1{
        line-height: 30px;
        font-size: 1.3em;
    }

    .action-post p{
        padding: 2em 0;
        font-size: .9em;
    }

    .home-btns button{ padding: 5px 15px; }
    .home-img{ height: 18em; }

    /* Funcionamento */
    .line::after{
        top: 6.5px;
        transform:rotate(-45deg);
    }

    .line::before{
        top: -6.2px;
        transform:rotate(45deg);
    }

    /* Depoimentos */
    .depoimento-box blockquote{ padding-top: 1px; }

    /* Botões aside */
    .aside-btns{ gap: 1.3em; }

    .B-aside{
        width: 45px;
        height: 45px;
        font-size: 2.3rem;
    }
}

/* ----- MOBILE ----- */
@media (max-width: 650px){
    /* Header */
    header{ height: 3.8em; }

    .navbar-link{ font-size: 1em; }

    /* Home */
    .home{ height: 100dvh; }

    .action-post h1{ font-size: 2em; }
    .action-post p{ font-size: 1.1em; }

    .btn-primary{
        font-size: 1em;
        width: 85%;
        padding: 15px;
        line-height: 25px;
    }

    .btn-primary span{ display: none; }


    /* Problema */
    .problema{ flex-direction: column; }
    .problema-img-container{ margin: 7% 0; }

    .problema-img img{ 
        width: 100%;
        margin-right: 0; 
    }

    /* Métodos de Trabalho */
    .timeline-item:not(:first-child)::before{
        left: 47%;
        top: -29%;
        transform: translate(0, 0);
    }

    .timeline{
        gap: 2.2em;
    }

    /* Portfólio */
    .P-cards{ gap: 2.5em; }

    .P-card{
        flex: none;
        width: 100%;
        height: 480px;
    }

    .P-content{
        height: 13.5em;
        margin: 5%;
    }

    /* Depoimentos */

    .depoimento-box{ padding: 1.5rem; }

    .cliente-header{
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-cliente-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .cliente-header img{
        width: 110px;
        margin: 20px 0;
        margin-right: 0;
    }

    .depoimento-box blockquote{ padding: 15px 0 40px; }

    .estrelas{ width: 70%; }


    /* Contatos */
    .contato-email button,
    .contato-whatsapp a{
        line-height: 32px;
        padding: 10px ;
    }

    /* Fechamento */
    .fechamento h2{ font-size: 1.5em; }

    .fechamento a{ 
        padding: 15px;
        width: 70%;
    }

    /* Footer */
    .footer-container{ 
        align-items: center;
        flex-direction: column; 
    }

    .footer-col{
        align-items: center;
        text-align: center;
    }

    .footer-col h2,
    .footer-col h3{
        text-align: center;
    }

    .footer-col:first-child{ width: 100%; }
    .footer-bottom{ gap: 1.5em; }

    .redes-sociais{
        gap: 1em;
    }

    .redes-sociais a{
        width: 55px;
        height: 55px;
    }

    .redes-sociais i{ font-size: 1.9em; }
    
    /* Botões aside */
    .B-aside{
        width: 55px;
        height: 55px;
        font-size: 2rem;
    }
}