@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

:root{
    --highlighted-font: "Montserrat", sans-serif;
    --cor-texto-principal: #0f111a;
    --cor-texto-secundario: #4b5563;
    --cor-fundo: #f8f9fb;
    --cor-destaque: #0e1320;
    --padding-padrao: 40px 7%;
    --padding-p: 20px 0;
}

html body{ 
    background-color: var(--cor-fundo); 
    overflow-x: hidden;
}

main { margin-top: 50px; }

/* ----- HEADER ----- */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 7%;
    max-width: 100vw;
    background-color: var(--cor-fundo);
    z-index: 120;
}

.logo a{
    font-family: var(--highlighted-font);
    font-size: 1.2em;
    text-decoration: none;
    color: var(--cor-texto-principal);
    font-weight: 600;
    letter-spacing: .5px;
}

.nav-bar{
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
    margin: 0 auto;
    border-radius: 30px;
}

.navbar-link,
.btn-destaque{
    font-family: var(--highlighted-font);
    padding: 12px 20px;
    text-decoration: none;
}

.navbar-link{
    display: flex;
    color: var(--cor-texto-principal);
    margin: 0 10px;
    font-weight: 600;
    position: relative;
}

.navbar-link:after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--cor-texto-principal);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease-in-out;
}

.navbar-link:hover::after{ width: 50%; }

.btn-destaque,
.nav-bar .btn-destaque-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-fundo);
    background-color: var(--cor-destaque);
    font-weight: 500;
    font-size: 1.1em;
    padding: 9px 20px;
    border-radius: 15px;
    font-family: var(--highlighted-font);
    border: 2.7px solid var(--cor-destaque);
    transition: all .3s ease-in-out;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    text-decoration: none;
}

.btn-destaque:hover,
.nav-bar .btn-destaque-mobile:hover{
    background-color: var(--cor-fundo);
    color: var(--cor-destaque);
    border: 2.7px solid var(--cor-destaque);
    font-weight: 600;
}

.nav-bar .btn-destaque-mobile{ display: none; }

.btn-menu{
    display: none;
    margin-left: 0;
}

/* ----- HOME ----- */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(10,15,25,0.5), rgba(10,15,25,0.5)), url('/images/hero-img.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: row;
    line-height: 2.5em;
    height: auto;
    min-height: calc(80vh + 70px);
    padding: var(--padding-padrao);
    position: relative;
}

.action{
    display: flex;
    flex: 1;
    gap: 1em;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.action-post{
    flex: 1;
}

.action-post h1{
    font-family: var(--highlighted-font);
    color: var(--cor-fundo);
    font-size: 2.1em;
    font-weight: 700;
}

.action-post p{
    font-size: 1.2em;
    line-height: 35px;
    padding: 3em 0;
    color: var(--cor-fundo);
    font-weight: 500;
}

.home-btns{
    display: flex;
    gap: 20px;
}

.btn-primary{
    text-align: center;
    background-color: var(--cor-destaque);
    color: var(--cor-fundo);
    font-family: var(--highlighted-font);
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 15px;
    border: 4px solid var(--cor-destaque);
    font-size: .9em;
    font-weight: 500;
    width: 300px;
    cursor: pointer;
    transition: all .3s ease-in;
}

.btn-primary:hover{
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    background-color: transparent;
    padding-right: 30px;
}

.btn-primary span{
    display: inline-block;
    font-size: 1.1em;
    transition: all .3s ease-in-out;
}

.btn-primary:hover span{ transform: translateX(15px); }

/* ----- SELOS ----- */
.selos{
    display: flex;
    width: 100%;
    overflow-x: hidden;
    gap: 1em;
}

.selos::-webkit-scrollbar{ display: none; }

.grupo-selos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    animation: spin 40s linear infinite;
}

.card-selo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 2em;
    width: 100%;
    height: 1em;
    white-space: nowrap;
    padding: 30px 5em;
    font-size: 1em;
    position: relative;
}

.card-selo::before{
    position: absolute;
    content: '';
    background-color: var(--cor-destaque);
    font-weight: 600;
    height: 50%;
    width: 3px;
    left: 0;
    border-radius: 20px;
}

.card-selo p{
    text-align: center;
    color: var(--cor-texto-secundario);
}

@keyframes spin{
    from{ transform: translateX(0); }
    to{ transform: translateX(-100%); }
}

/* ----- PROBLEMA ----- */

.problema{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-padrao);
    margin-top: 5%;
}

.problema-img img{
    width: 26em;
    height: auto;
    margin-right: 80px;
}

.problema-text{ flex: 1; }

.problema-text h2{
    font-family: var(--highlighted-font);
    color: var(--cor-texto-principal);
    font-size: 1.75em;
    padding: 10px 0;
}

.problema-text p{
    font-size: 1.05em;
    padding: var(--padding-p);
    color: var(--cor-texto-secundario);
    font-weight: 500;
}

.problema-text .p-destaque{
    display: inline-block;
    background-color: var(--cor-destaque);
    font-family: var(--highlighted-font);
    color: var(--cor-fundo);
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.05em;
    margin-top: 1.5em;
    padding: 13px 25px;
}

.p-destaque{
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.p-destaque:hover{
    transform: scale(1.03);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

/* ----- SERVIÇOS ----- */
.skils{
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    padding: var(--padding-padrao);
    margin: 30px 0 60px;
}

.skils h2{ 
    color: var(--cor-texto-principal); 
    font-family: var(--highlighted-font);
}

.skils p{ 
    color: var(--cor-texto-secundario); 
    font-weight: 500;
    padding: var(--padding-p);
}

.skils h2,
.skils p{
    width: 100%;
    text-align: center;
}

.skil-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    gap: 1.3em;
}

.sk-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 240px;
    height: 280;
    text-align: left;
    border-radius: 15px;
    background-color: var(--cor-destaque);
    padding: 1em;
    transition: 0.3s ease;
}

.sk-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

.img-sk{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 20px;
}

.img-sk i{
    color: var(--cor-fundo);
    font-size: 3em;
}

.sk-content{ text-align: center; }

.sk-content h3{ 
    font-size: 1.2em;
    font-family: var(--highlighted-font);
    color: var(--cor-fundo);
    margin: 30px 0 3px;
    position: relative; 
}

.sk-card h3::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 3.5px;
    border-radius: 20px;
    background-color: var(--cor-fundo);
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.sk-content p{ 
    padding-top: 25px;
    font-size: 1em; 
    font-weight: 100;
    color: var(--cor-fundo);
}

/* ----- MÉTODOS DE TRABALHO ----- */
.funcionamento{ 
    padding: var(--padding-padrao); 
    background-color: var(--cor-destaque);
}

.funcionamento h2,
.funcionamento p{ text-align: center; }

.funcionamento h2{ color: var(--cor-fundo); }

.funcionamento p{
    font-weight: 300;
    padding: var(--padding-p);
    color: var(--cor-fundo);
}

.timeline{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3.5em;
    position: relative;
    margin-top: 2em;
}

.timeline-item{
    position: relative;
    flex: 1;
    text-align: center;
    z-index: 2;
    padding: 10px 20px;
}

.timeline-item:not(:first-child)::before{
    content: '+';
    position: absolute;
    font-family: var(--highlighted-font);
    color: var(--cor-fundo);
    font-size: 2em;
    left: 0;
    top: 50%;
    transform: translate(-215%, -50%);
}

.timeline-step {
    display: inline-block;
    background: var(--cor-fundo);
    color: var(--cor-destaque);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.timeline h3 {
    color: var(--cor-fundo);
    padding: 5px 0 3px;
}

.timeline-item p {
    color: var(--cor-fundo);
    font-weight: 300;
    margin: 0;
    font-size: 0.9rem;
    padding-top: 8px;
}

/* ----- PORTFOLIO ----- */
.portfolio{ 
    display: flex;
    flex-direction: column;
    padding: var(--padding-padrao); 
}

.portfolio article{  text-align: center; }

.portfolio article h2{
    color: var(--cor-texto-principal);
    font-family: var(--highlighted-font);
}

.portfolio article p:not(.P-desc){ 
    color: var(--cor-texto-secundario);
    font-weight: 500;
    padding: var(--padding-p); 
}

.P-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5em;
    width: 100%;
    height: auto;
    margin: 3% 0;
}

.P-card{ 
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px; 
    height: 450px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
    transition: transform .3s ease-in-out;
    position: relative;
    border-radius: 20px;
    z-index: 1;
}

.P-card:hover{ transform: scale(1.05); }

.P-img {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    transition: background-position 15s linear;
    border-radius: 20px;
}

.P-card:hover .P-img { background-position: bottom; }
.P-img1{ background-image: url(../images/sl20.png); }

.P-content{ 
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 15.7em;
    padding: 20px;
    margin: 3%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 5px;
    background: linear-gradient( to top, rgba(14, 19, 32, 0.85), rgba(14, 19, 32, 0.55) );
    color: var(--cor-fundo);
    transition: transform .4s ease;
    z-index: 10;
}

.P-content h3{ font-size: 1em; }
.P-content p{ font-size: .95em; }
.P-selo{ text-align: left; }
.P-title{ padding: 5px 0; }

.P-tags{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2em;
    width: 100%;
    padding-top: 10px;
}

.P-tags span{
    font-size: .8em;
    background-color: var(--cor-fundo);
    color: var(--cor-destaque);
    border: 2px solid var(--cor-destaque);
    outline: 2px solid var(--cor-fundo);
    padding: 3px 12px;
    border-radius: 50px;
    font-weight: 600;
}

.P-link{
    background-color: var(--cor-fundo);
    padding: 8px;
    color: var(--cor-texto-principal);
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    transition: all .3s ease-in-out;
    font-weight: 600;
    font-size: .9em;
    border-radius: 15px;
    border: 3px solid var(--cor-destaque);
    outline: 3px solid var(--cor-fundo);
}

.P-link:hover{
    background-color: transparent;
    border: 3px solid var(--cor-fundo);
    outline-color: transparent;
    color: var(--cor-fundo);
}

/* ----- FORMULARIO DE CONTATO ----- */
.contato{
    text-align: center;
    padding: var(--padding-padrao);
    padding-top: 5%;
}

.contato h2{
    font-family: var(--highlighted-font);
    color: var(--cor-texto-principal);
}

.contato p{ 
    color: var(--cor-texto-secundario);
    padding: var(--padding-p); 
    font-weight: 500;
}

.contato-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
}

.contato-email,
.contato-whatsapp{ flex: 1; }

.contato-email{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contato-email label{
    font-family: var(--highlighted-font);
    font-size: .9em;
    color: var(--cor-texto-principal);
    font-weight: 500;
    margin: 1.2em 0 .4em;
}

.contato-email input,
.contato-email textarea{
    border: 2px solid var(--cor-destaque);
    background-color: var(--cor-fundo);
    border-radius: 15px;
    padding: 12px 10px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.10);
    resize: none;
    font-size: .9em;
}

.contato-email input:focus,
.contato-email textarea:focus{ border-width: 3px; }

.contato-email button{
    margin: 2em 0 1em;
    border: 3px solid var(--cor-destaque);
    border-radius: 15px;
    background-color: var(--cor-destaque);
    color: var(--cor-fundo);
    font-family: var(--highlighted-font);
    padding: 18px;
    font-size: 1em;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-weight: 600;
}

.contato-email button:hover,
.contato-whatsapp a:hover{
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    background-color: transparent;
    color: var(--cor-texto-principal);
    font-weight: 700;
}

.form-info{
    color: var(--cor-texto-secundario);
    font-weight: 500;
    line-height: 23px;
    font-size: .9em;
    overflow-x: hidden;
}

.contato-whatsapp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.contato-whatsapp img{
    width: 266px;
    height: auto;
}

.contato-whatsapp h3{
    margin-top: 1.2em;
    color: var(--cor-texto-principal);
    font-family: var(--highlighted-font);
}

.contato-whatsapp p{
    font-size: 1em;
    color: var(--cor-texto-secundario);
    font-weight: 500;
}

.contato-whatsapp a{
    font-family: var(--highlighted-font);
    font-weight: 600;
    background-color: var(--cor-destaque);
    color: var(--cor-fundo);
    text-decoration: none;
    padding: 18px;
    font-size: 1em;
    border-radius: 15px;
    border: 3px solid var(--cor-destaque);
    width: 75%;
    transition: all .3s ease-in-out;
}

.contato-whatsapp i{
    font-size: 1.5em;
    transform: translateY(2px);
}

/* ----- DÚVIDAS ----- */
.faq{ padding: var(--padding-padrao); }

.faq h2{
    color: var(--cor-texto-principal);
    font-family: var(--highlighted-font);
    padding: var(--padding-p);
}

.faq details summary{
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 2px solid var(--cor-texto-secundario);
    background-color: var(--cor-destaque);
    color: var(--cor-fundo);
}

.faq details:hover{ filter: brightness(75%); }

.faq details p{
    padding: 10px 20px;
    padding-bottom: 40px;
}

/* ----- FECHAMENTO ----- */
.fechamento{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: var(--padding-padrao);
    background-color: var(--cor-destaque);
}

.fechamento h2{
    font-size: 1.8em;
    font-family: var(--highlighted-font);
    color: var(--cor-fundo);
}

.fechamento p{
    color: var(--cor-fundo);
    font-weight: 300;
    padding: 40px;
    font-size: 1.2em;
}

.fechamento a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--highlighted-font);
    font-weight: 600;
    background-color: var(--cor-fundo);
    color: var(--cor-destaque);
    text-decoration: none;
    padding: 20px;
    font-size: 1em;
    border-radius: 15px;
    margin-top: 20px;
    border: 3px solid var(--cor-fundo);
    width: 35%;
    transition: all .3s ease-in-out;
}

.fechamento a:hover{
    background-color: transparent;
    color: var(--cor-fundo);
    font-weight: 700;
    padding-right: 30px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.fechamento a span{
    font-size: 1.2em;
    padding-left: 15px;
    transition: all .3s ease-in-out;
}

.fechamento a:hover span{ transform: translateX(10px); }

.google-logo i{
    display: block;
    text-align: center;
    color: var(--cor-fundo);
    font-size: 7.5em;
    margin: 40px 0 35px;
}

/* ----- FOOTER ----- */
footer{
    display: flex;
    flex-direction: column;
    padding: var(--padding-padrao);
    background-color: var(--cor-destaque);
    width: 100%;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    flex-direction: row;
    width: 100%;
}

.footer-col{
    display: flex;
    text-align: left;
    flex-direction: column;
    height: 180px;
    padding-top: 70px;
}

.footer-col:first-of-type{
    height: auto;
    padding-top: 0;
}

.footer-logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    position: relative;
}

.footer-logo-img img{
    width: 280px;
    height: auto;
    transform: translateY(20px);
}

.footer-logo-p {
    text-align: center;
    font-family: var(--highlighted-font);
    font-size: 1em;
    letter-spacing: .5px;
}

.footer-col a,
.footer-legal a{ color: var(--cor-fundo); }

.footer-col:first-child{ width: 25%; }

.footer-col h2,
.footer-col h3{
    font-family: var(--highlighted-font);
    color: var(--cor-fundo);
    padding: var(--padding-p);
}

.footer-col h2{ letter-spacing: .5px; }
.footer-col p{  color: var(--cor-fundo); }

.contact-p{
    display: flex;
    padding-bottom: 8px;
    gap: 8px;
}

.redes-sociais{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    border-radius: 0;
}

.redes-sociais a {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    position: relative; 
    margin: 0;
    transition: all .3s ease-in-out;
}

.redes-sociais a:nth-child(1){ background-color: #d62976; }
.redes-sociais a:nth-child(2){ background-color: #0e76a8; }

.redes-sociais i {
    font-size: 1.7em;     
    position: absolute;  
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.redes-sociais a:hover { 
    transform: translateY(-3px);
    filter: brightness(85%); 
}

.footer-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    gap: 1em;
    width: 100%;
}

.footer-copy{
    width: 100%;
    text-align: center;
    color: var(--cor-fundo);
    margin: 1em 0 -2.5em;
    line-height: 25px;
}

/* ----- BOTÔES ASIDE ----- */
.aside-btns{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.B-aside{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
    color: var(--cor-fundo);
    font-size: 1.8em;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.B-aside:nth-child(1){ 
    background-color: var(--cor-destaque); 
    border: 2px solid var(--cor-fundo);
}

.B-aside:nth-child(2){ background-color: #25D366; }

.B-aside:hover{
    filter: brightness(85%);
    transform: scale(1.03) translateY(-3px);
}

#voltar-topo{
    display: none;
}